* text=auto eol=lf
tests/Fixtures/** -text
builds/porto -text

/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/AGENTS.md export-ignore
/app/Actions export-ignore
/app/Commands export-ignore
/app/Enums export-ignore
/app/Exceptions export-ignore
/app/Providers export-ignore
/app/Support export-ignore
/app/ValueObjects export-ignore
/bootstrap export-ignore
/box.json export-ignore
/CLAUDE.md export-ignore
/composer.lock export-ignore
/config export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml.dist export-ignore
/pint.json export-ignore
/porto export-ignore
/porto.json export-ignore
/README.md export-ignore
/rector.php export-ignore
/tests export-ignore
/TODO.md export-ignore
